{% extends 'AllocMariaFrontOfficeBundle:FrontOffice:layout.html.twig' %}


{% block body %}


    <style>


        hr{
            margin: 100px auto;
            width: 50%;
            height: 2px;
            background-color: #f90;
            border: none; 
        }

        .co
        {
            margin-left:20%;
            margin-right:20%;
            padding-top:2%;
        }

        .co1
        {
            margin-left:15%;
            margin-right:15%;

            height:50px;
        }
    </style>

    <script type="text/javascript">

        /** Fonction basculant la visibilité d'un élément dom
         * @parameter anId string l'identificateur de la cible à montrer, cacher
         */
        /*function toggle(anId)
        {
            node = document.getElementById(anId);
            if (node.style.visibility=="hidden")
            {
                // Contenu caché, le montrer
                node.style.visibility = "visible";
                node.style.height = "auto";			// Optionnel rétablir la hauteur
            }
            else
            {
                // Contenu visible, le cacher
                node.style.visibility = "hidden";
                node.style.height = "auto";			// Optionnel libérer l'espace
            }
        }*/

    </script>


    {% if app.session.flashBag.has('warning_encaissement') %}
        <div class="co1 alert alert-warning alert-dismissible" style="text-align: center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="padding-right: 2%">&times;</a>
            {% for msg in app.session.flashBag.get('warning_encaissement') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    {% if app.session.flashBag.has('warning_section') %}
        <div class="co1 alert alert-warning alert-dismissible" style="text-align: center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="padding-right: 2%">&times;</a>
            {% for msg in app.session.flashBag.get('warning_section') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    {% if app.session.flashBag.has('warning_administrateur') %}
        <div class="co1 alert alert-warning alert-dismissible" style="text-align: center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="padding-right: 2%">&times;</a>
            {% for msg in app.session.flashBag.get('warning_administrateur') %}
                {{ msg }} <a href="{{ path('accueil_alloc_maria_back_office_homepage') }}" class="alert-link">ici</a>
            {% endfor %}
        </div>
    {% endif %}

    <H2 style="text-align:center">Identifiez-vous</H2>

    <div class="co">
        <div class="ui placeholder segment">
            <div class="ui two column stackable center aligned grid">
                <div class="ui vertical divider">Ou</div>
                <div class="middle aligned row">
                    <div class="column">
                        <div id="gauche" style="text-align:center">
                            <div class="ui form">
                                <h4 class="ui dividing header">Accès bureau des sections</h4><br/>

                                <!--<div id="alert1" style="visibility:hidden;">
                                    <div class="ui form error" >
                                        <div class="ui error message">
                                            <p>L'identifiant ou le mot de passe est incorrect.</p>
                                        </div>
                                    </div>
                                </div>-->

                                {% if app.session.flashBag.has('error1') %}
                                    <div class="alert alert-danger" style="text-align: center">
                                        {% for msg in app.session.flashBag.get('error1') %}
                                            {{ msg }}
                                        {% endfor %}
                                    </div>
                                {% endif %}


                                <div class="field">
                                    {{ form_start(form) }}
                                    <label>Identifiant</label>
                                    <div class="fields">
                                        <div class="field">
                                            {{ form_widget(form.identifiant_section, { 'attr': {'class': 'prompt', 'placeholder': 'Identifiant'} }) }}
                                            <!--<input type="text"  placeholder="Identifiant">-->
                                        </div>
                                    </div>
                                    <label>Mot de passe</label>
                                    <div class="fields">
                                        <div class="field">
                                            {{ form_widget(form.mdp_section, { 'attr': {'class': 'prompt', 'placeholder': 'Mot de passe'} }) }}
                                            <!--<input type="password" placeholder="Mot de passe">-->
                                        </div>
                                    </div>
                                    <input class="ui primary button" name="action" type="submit" value="Connexion" />
                                    {{ form_end(form) }}

                                </div>


                            </div>


                        </div>
                    </div>


                    <div class="column"><div id="droite" style="text-align:center">
                            <div class="ui form">
                                <h4 class="ui dividing header">Accès encaissement</h4><br/>


                                <!--<div id="alert2" style="visibility:hidden;">
                                    <div class="ui form error" >
                                        <div class="ui error message">
                                            <p>L'identifiant ou le mot de passe est incorrect.</p>
                                        </div>
                                    </div>
                                </div>-->

                                {% if app.session.flashBag.has('error2') %}
                                    <div class="alert alert-danger" style="text-align: center">
                                        {% for msg in app.session.flashBag.get('error2') %}
                                            {{ msg }}
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            <div class="field">
                                {{ form_start(form2) }}
                                <label>Identifiant</label>
                                <div class="fields">
                                    <div class="field">
                                        {{ form_widget(form2.identifiant_encaissement, { 'attr': {'class': 'prompt', 'placeholder': 'Identifiant'} }) }}
                                        <!--<input type="text"  placeholder="Identifiant">-->
                                    </div>
                                </div>
                                <label>Mot de passe</label>
                                <div class="fields">
                                    <div class="field">
                                        {{ form_widget(form2.mdp_encaissement, { 'attr': {'class': 'prompt', 'placeholder': 'Mot de passe'} }) }}
                                        <!--<input type="password" placeholder="Mot de passe">-->
                                    </div>
                                </div>
                                <input class="ui primary button" name="action" type="submit" value="Connexion" />
                                {{ form_end(form2) }}

                            </div>
                                <!--
                                <div class="field">
                                    <label>Identifiant</label>
                                    <div class="fields">
                                        <div class="field">
                                            <input type="text"  placeholder="identifiant">
                                        </div>
                                    </div>
                                    <label>Mot de passe</label>
                                    <div class="fields">
                                        <div class="field">
                                            <input type="password" placeholder="Mot de passe">
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                            <!--<button class="ui button" type="submit" onclick="toggle('alert2')"  >Connexion</button>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr>

    <div style="text-align:center">
        <a href="{{ path('accueil_alloc_maria_back_office_homepage') }}"><button class="ui button" type="submit">Accès administrateur</button></a>
    </div>


{% endblock %}

