{% extends 'AllocMariaFrontOfficeBundle:FrontOffice:layout.html.twig' %}


{% block body %}


    <style>
        .add_user{
            text-align: center;
            width:80%;
            height: auto;

        }

        #bonj{
            margin-left:20%;
            margin-bottom:4%;
        }
    </style>





    <div id="bonj">
        <div class="ui breadcrumb">
            <a class="section" href="{{ path('accueil_alloc_maria_front_office_homepage') }}">Connexion</a>
            <i class="divider"> / </i>
            <div class="active section" href="{{ path('espace_bureau_sections_alloc_maria_front_office_homepage') }}">Espace bureau des sections</div>
        </div>

        <h1>Bonjour Toto</h1>
    </div>

    <div class="ui three column doubling stackable grid container">
        <div class="column" >
            <div class="ui placeholder segment" >
                <a href="{{ path('espace_bureau_sections_nouvel_adhérent_alloc_maria_front_office_homepage') }}">

                <img  class="add_user" src="{{ asset('images/add_user.png') }}">
                </a>
            </div>
            <h1  style="text-align:center;" >Nouvel Adhérent</h1>

        </div>

        <div class="column">
            <div class="ui placeholder segment" >
                <a href="{{ path('espace_bureau_sections_liste_adherent_alloc_maria_front_office_homepage') }}">
                    <img  class="add_user" src="{{ asset('images/screen.png') }}">
                </a>
            </div>
            <h1  style="text-align:center;" >Inscription adhérent à ma section</h1>
        </div>

        <div class="column">
            <div class="ui placeholder segment" >
                <a href="{{ path('espace_bureau_sections_ma_section_alloc_maria_front_office_homepage') }}">
                <img  class="add_user" src="{{ asset('images/gestion.png') }}">
                </a>
            </div>
            <h1  style="text-align:center;">Gestion de ma section</h1>
        </div>

    </div>

{% endblock %}