{% extends 'AllocMariaFrontOfficeBundle:FrontOffice:layout.html.twig' %}


{% block body %}

    <style>



        .bonj{
            margin-left:20%;
            margin-right:20%;
            margin-bottom:4%;
        }

        .co1
        {
            margin-left:20%;
            margin-right:15%;
            height:50px;
        }

        /*#foo1{
            visibility:hidden;height: 0;
        }

        #foo2{
            visibility:hidden;
            height: 0;
        }*/
    </style>


    <div class="bonj">
        <div class="ui breadcrumb">
            <a class="section" href="{{ path('accueil_alloc_maria_front_office_homepage') }}">Connexion</a>
            <i class="divider"> / </i>
            <a class="section" href="{{ path('espace_bureau_sections_alloc_maria_front_office_homepage') }}">Espace bureau des sections</a>
            <i class="divider"> / </i>
            <a class="section" href="{{ path('espace_bureau_sections_nouvel_adhérent_alloc_maria_front_office_homepage') }}">Nouvel adhérent</a>
            <i class="divider"> / </i>
            <div class="active section" >Nouvel adhérent Mineur</div>
        </div>

        <h1>Finalisation inscription adhérent enfant</h1>
    </div>


    <script type="text/javascript">

        /** Fonction basculant la visibilité d'un élément dom
         * @parameter anId string l'identificateur de la cible à montrer, cacher
         */
        function toggle(anId)
        {
            node = document.getElementById(anId);
            if (node.style.visibility=="hidden")
            {
                // Contenu caché, le montrer
                node.style.visibility = "visible";
                node.style.height = "auto";			// Optionnel rétablir la hauteur
            }
            else
            {
                // Contenu visible, le cacher
                node.style.visibility = "hidden";
                node.style.height = "0";			// Optionnel libérer l'espace
            }
        }

    </script>

    {% if app.session.flashBag.has('warning_condition') %}
        <div class="co1 alert alert-warning alert-dismissible" style="text-align: center">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="padding-right: 2%">&times;</a>
            {% for msg in app.session.flashBag.get('warning_condition') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    {{ form_start(form) }}
    <div class="bonj">
        <form class="ui form">
            <div class="ui form">

            <div class="required inline field">
                <label>Sexe :</label><p>{{ session.sexeAdherent }}</p>
            </div>
            <div class="required inline field">
                <label>Nom :</label><p>{{ session.nomAdherent }}</p>
            </div>
            <div class="required inline field">
                <label>Prénom :</label><p>{{ session.prenomAdherent }}</p>
            </div>
            <div class="required inline field">
                <label>Adresse :</label><p>{{ session.adresseAdherent }}</p>
            </div>
            <div class="required inline field">
                <label>Ville :</label><p>{{ session.villeAdherent }}</p>
            </div>
            <div class="required inline field">
                <label>Code postal :</label><p>{{ session.codePostalAdherent }}</p>
            </div>
            <div class="required inline field">
                <label>Date naissance :</label><p>{{ session.dateNaissanceAdherent }}</p>
            </div><br/>


            <div class="ui segment">
                <div class="ui two column very relaxed grid">
                    <div class="column">
                        <h2><u>Information père :</u></h2><br/>

                        <div class="required inline field">
                            {# {{ form_row(form.sexeAdherent) }} #}
                            {{ form_label(form.nomReferent, 'Nom :', {'label_attr': {'class': 'foo required field'}}) }}
                            {{ form_widget(form.nomReferent) }}
                        </div>

                        <!--<div class="required inline field">
                            <label>Nom :</label>
                            <input type="text" name="Nom" placeholder="Nom">
                        </div>-->

                        <div class="required inline field">
                            {# {{ form_row(form.sexeAdherent) }} #}
                            {{ form_label(form.prenomReferent, 'Prenom :', {'label_attr': {'class': 'foo required field'}}) }}
                            {{ form_widget(form.prenomReferent) }}
                        </div>

                        <!--<div class="required inline field">
                            <label>Prenom :</label>
                            <input type="text" name="Prenom" placeholder="Prenom">
                        </div>-->

                        <div class="inline field">
                            {# {{ form_row(form.sexeAdherent) }} #}
                            {{ form_label(form.telephoneReferent, 'Numéro domicile :', {'label_attr': {'class': 'foo required field'}}) }}
                            {{ form_widget(form.telephoneReferent) }}
                        </div>

                        <!--<div class=" inline field">
                            <label>Numéro domicile :</label>
                            <input type="text" name="Numéro domicile" placeholder="Numéro domicile">
                        </div>-->

                        <div class="required inline field">
                            {# {{ form_row(form.sexeAdherent) }} #}
                            {{ form_label(form.portableReferent, 'Numéro portable :', {'label_attr': {'class': 'foo required field'}}) }}
                            {{ form_widget(form.portableReferent) }}
                        </div>

                        <!--<div class="required inline field">
                            <label>Numéro portable :</label>
                            <input type="text" name="Numéro portable" placeholder="Numéro portable">
                        </div>-->

                        <div class="required inline field">
                            {# {{ form_row(form.sexeAdherent) }} #}
                            {{ form_label(form.mailReferent, 'Mail :', {'label_attr': {'class': 'foo required field'}}) }}
                            {{ form_widget(form.mailReferent) }}
                        </div>

                        <!--<div class="required inline field">
                            <label>Mail :</label>
                            <input type="text" name="Mail" placeholder="Mail">
                        </div>-->

                        <a onclick = "toggle('foo1')" >Adresse différente de l'enfant ?</a>
                        <div id="foo1" style="visibility:hidden;height: 0;">
                            <div class="inline field">
                                {# {{ form_row(form.sexeAdherent) }} #}
                                {{ form_label(form.adresseReferent, 'Adresse :', {'label_attr': {'class': 'foo required field'}}) }}
                                {{ form_widget(form.adresseReferent) }}
                            </div>

                            <!--<div class="required inline field">
                                <label>Adresse :</label>
                                <input type="text" name="Adresse" placeholder="Adresse">
                            </div>-->

                            <div class="inline field">
                                {# {{ form_row(form.sexeAdherent) }} #}
                                {{ form_label(form.villeReferent, 'Ville :', {'label_attr': {'class': 'foo required field'}}) }}
                                {{ form_widget(form.villeReferent) }}
                            </div>

                            <!--<div class="required inline field">
                                <label>Ville :</label>
                                <input type="text" name="Ville" placeholder="Ville">
                            </div>-->

                            <div class="inline field">
                                {# {{ form_row(form.sexeAdherent) }} #}
                                {{ form_label(form.codePostalReferent, 'Code postal :', {'label_attr': {'class': 'foo required field'}}) }}
                                {{ form_widget(form.codePostalReferent) }}
                            </div>

                            <!--<div class="required inline field">
                                <label>Code postal :</label>
                                <input type="text" name="Code postal" placeholder="Code postal">
                            </div>-->
                        </div>

                    </div>
                    <div class="column">
                        <h2><u>Information mère :</u></h2><br/>

                        <div class="required inline field">
                            {# {{ form_row(form.sexeAdherent) }} #}
                            {{ form_label(form.nomReferent1, 'Nom :', {'label_attr': {'class': 'foo required field'}}) }}
                            {{ form_widget(form.nomReferent1) }}
                        </div>

                        <!--<div class="required inline field">
                            <label>Nom :</label>
                            <input type="text" name="Nom" placeholder="Nom">
                        </div>-->

                        <div class="required inline field">
                            {# {{ form_row(form.sexeAdherent) }} #}
                            {{ form_label(form.prenomReferent1, 'Prenom :', {'label_attr': {'class': 'foo required field'}}) }}
                            {{ form_widget(form.prenomReferent1) }}
                        </div>

                        <!--<div class="required inline field">
                            <label>Prenom :</label>
                            <input type="text" name="Prenom" placeholder="Prenom">
                        </div>-->

                        <div class="inline field">
                            {# {{ form_row(form.sexeAdherent) }} #}
                            {{ form_label(form.telephoneReferent1, 'Numéro domicile :', {'label_attr': {'class': 'foo required field'}}) }}
                            {{ form_widget(form.telephoneReferent1) }}
                        </div>

                        <!--<div class=" inline field">
                            <label>Numéro domicile :</label>
                            <input type="text" name="Numéro domicile" placeholder="Numéro domicile">
                        </div>-->

                        <div class="required inline field">
                            {# {{ form_row(form.sexeAdherent) }} #}
                            {{ form_label(form.portableReferent1, 'Numéro portable :', {'label_attr': {'class': 'foo required field'}}) }}
                            {{ form_widget(form.portableReferent1) }}
                        </div>

                        <!--<div class="required inline field">
                            <label>Numéro portable :</label>
                            <input type="text" name="Numéro portable" placeholder="Numéro portable">
                        </div>-->

                        <div class="required inline field">
                            {# {{ form_row(form.sexeAdherent) }} #}
                            {{ form_label(form.mailReferent1, 'Mail :', {'label_attr': {'class': 'foo required field'}}) }}
                            {{ form_widget(form.mailReferent1) }}
                        </div>

                        <!--<div class="required inline field">
                            <label>Mail :</label>
                            <input type="text" name="Mail" placeholder="Mail">
                        </div>-->

                        <a onclick = "toggle('foo2')">Adresse différente de l'enfant ?</a>
                        <div id="foo2" style="visibility:hidden;height: 0;">

                            <div class="inline field">
                                {# {{ form_row(form.sexeAdherent) }} #}
                                {{ form_label(form.adresseReferent1, 'Adresse :', {'label_attr': {'class': 'foo required field'}}) }}
                                {{ form_widget(form.adresseReferent1) }}
                            </div>

                            <!--<div class="required inline field">
                                <label>Adresse :</label>
                                <input type="text" name="Adresse" placeholder="Adresse">
                            </div>-->

                            <div class="inline field">
                                {# {{ form_row(form.sexeAdherent) }} #}
                                {{ form_label(form.villeReferent1, 'Ville :', {'label_attr': {'class': 'foo required field'}}) }}
                                {{ form_widget(form.villeReferent1) }}
                            </div>

                            <!--<div class="required inline field">
                                <label>Ville :</label>
                                <input type="text" name="Ville" placeholder="Ville">
                            </div>-->

                            <div class="inline field">
                                {# {{ form_row(form.sexeAdherent) }} #}
                                {{ form_label(form.codePostalReferent1, 'Code postal :', {'label_attr': {'class': 'foo required field'}}) }}
                                {{ form_widget(form.codePostalReferent1) }}
                            </div>

                            <!--<div class="required inline field">
                                <label>Code postal :</label>
                                <input type="text" name="Code postal" placeholder="Code postal">
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="ui vertical divider">
                </div>
            </div>



            <br/>

            <div class="required inline field">
                <!--<div class="ui checkbox">-->
                    <input type="checkbox" name="conditions">
                    <label>En soumettant ce formulaire, j'accepte que les informations saisies soient utilisées et exploitées par l'Amicale Laïque</label>
                <!--</div>-->
            </div>

            <div class="required inline field">
                <!--<div class="ui checkbox">-->
                    <input type="checkbox" name="image">
                    <label>J'accepte le droit à l'image en qualité de responsable légal de l'enfant</label>
                <!--</div>-->
            </div>



            <button class="ui button" type="submit">Créer le nouvel adhérent</button>
            </div>
        </form>




    </div>
{% endblock %}